body{
    margin: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/*All Tag */
h1{
    font-size: 50px;
    font-weight: 700px;
}
h2{
    font-size: 35px;
    font-weight: bolder;
}
h3{
    border: 1px solid #19b93e;
    background-color: #19b93e;
    padding: 8px;
    width: 48%;
    text-align: center;
    color: white;  
    border-radius: 8px;
}
/*All Tag */
/*Food man Area stert*/
.flexibale-container{
    display: flex;
}
.top-p{
    margin-bottom: 20px;
    font-size: 20px;
}
.banner-p{
    margin-bottom: 50px;
    text-align: left;
    font-size: 20px;
}
.btn-order{
    text-decoration: none;
    font-weight: 700px;
    background-image: linear-gradient(to right, #2fff40 0%, #35a83e  100%);
    color: white;
    padding: 8px 28px;
    border-radius: 10px;
}

.green-font{
    color: #19b93e;
}
.food-man-img img{
    width: 60%;
    padding-left: 18%;
}
/*Food man Area end*/
/*About Area Start*/
.about-man-img img{
    width: 50%;
    margin-top: 30px;
    margin-left: 50px;   
}
#about-banner{
    background-image: url(images/Frame\ 58.jpg);
    background-repeat: no-repeat;
    background-position-x:left;
    background-size: cover;   
}
.food-man-about{
    width: 90%;
    padding-right: 80px;
    text-align: justify;
    text-align: center;
}
/*About Area End*/
/*Food racipi area Start*/
.recipis-title{
    text-align: center;

}
#recipis-items{
    padding-left: 100px;
    padding-right: 100px;
}
.flex-box{
    display: flex;
    padding: 20px;
}
.box-one{
    width: 20%;
    text-align: left;   
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    margin-bottom: 40px;
    margin-left: 50px;
    padding: 38px;
    
}
.box-one img{
    height: 200px;
    align-items: center;
    border-radius: 10px;
    border: 5px solid #fbfbfb ;
    
}
/*Food racipi area End*/
/*Food Blog Documantation Section Start*/
.food-news-banner{
    background-image: url(images/pexels-daria-shevtsova-1095550.jpg);
    background-size: cover;
    height: 290px;
    padding: 15px;
}
.flex-box-menu{
    display: flex;
    width: 100%;
}
.box-one-margin{
    margin-left: 30px;
}

.news-p{
    margin: 0;
    font-size: 90px;
    font-weight:bolder;
    text-align: center;
}
.food-man{
    width: 40%;
    margin-left: 5%;
    padding-left: 5%;
}
/*Food Blog Documantation Section End*/
/*Food Gelary Section Start*/
#vegetables-box-menu{
    padding: 30px;
    }
    .vs-items{
        text-align: center;
    }
    .vegetables-blog{
        width: 20%;
        text-align: left;   
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        margin: 0 auto;
        border-radius: 10px;
        padding: 10px;
        margin-bottom: 40px;   
    }
    .vegetables-blog img{
        height: 200px;
        align-items: center;
        border-radius: 10px;
        box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    }
    .vegetables-blog h3{
        border: 1px solid #19b93e;
        background-color: #19b93e;
        padding: 8px;
        width: 48%;
        text-align: center;
        color: white;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }
/*Food Gelary Section Start*/
/*footer section Start*/
#footer-container{
    height: 250px;
    background-color:#0b0e17;
    margin-top: 30px;
}
.footer{
    text-align: center;
    padding-top: 20px;
    color: white;
}

.link-btn  a{
    text-decoration: none;
    padding: 8px 15px;
    margin-left: 5px;
    color: white;
    text-align: center;   
} 
.address{
    color: white;
    padding: 15px;
    margin-left: 40px;
}
/*footer section End*/